.c-tag-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    margin: 0 -3px;
    font-weight: bold;

    li {
        list-style: none;
    }

    a {
        line-height: 1;
        display: block;
        font-size: 1.4rem;
        padding: .8em 1em;
        border-radius: 3px;
        margin: 3px;
        text-decoration: none;
        background: $text-color-dark;
        color: $text-color-light;
        border: 1px solid $text-color-light;
        transition: color .3s, background .3s;

        &:hover {
            color: $text-color-dark;
            background: $text-color-light;
        }
    }

    &.is-white {
        a {
            border-color: $text-color-dark;
            color: $text-color-dark;
            background: $text-color-light;

            &:hover {
                color: $text-color-light;
                background: $text-color-dark;
            }
        }
    }
}