@charset "UTF-8";
/* -------------------
  VARIABLES
--------------------*/

// Text color
$color-text-base: #000000;
$color-A: #ffeb1b;

// Font Family
$font-base: "Noto Sans JP", sans-serif;
$font-a: 'Montserrat', sans-serif;
$font-b: 'Rubik', sans-serif;
