.interview-detail-page {
  background: #EFEFEF;
  padding-bottom: 480px;
}
.interview-detail-page .main-section {
  margin-bottom: 40px;
}
@media screen and (max-width: 768px) {
  .interview-detail-page .main-section {
    margin-bottom: 2rem;
  }
}
.interview-detail-page .main-thumbnail {
  margin-bottom: 40px;
}
@media screen and (max-width: 768px) {
  .interview-detail-page .main-thumbnail {
    margin-bottom: 2rem;
  }
}
.interview-detail-page .main-title {
  font-size: 3.8rem;
  line-height: 1.42;
  margin: 0;
  position: relative;
}
.interview-detail-page .main-title::before {
  content: "";
  display: block;
  position: absolute;
  left: -70px;
  top: -110px;
  background: url(../../../img/interview/detail/main-icon.svg) no-repeat center center/contain;
  width: 118px;
  height: 110px;
}
@media screen and (max-width: 768px) {
  .interview-detail-page .main-title {
    font-size: 3rem;
  }
  .interview-detail-page .main-title::before {
    left: -2.5rem;
    top: -7rem;
    width: 7.86rem;
    height: 7.33rem;
  }
}
.interview-detail-page .info-section {
  margin-bottom: 140px;
}
@media screen and (max-width: 768px) {
  .interview-detail-page .info-section {
    margin-bottom: 7rem;
  }
}
.interview-detail-page .info-head {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 40px;
}
@media screen and (max-width: 768px) {
  .interview-detail-page .info-head {
    display: block;
    margin-bottom: 3rem;
  }
}
.interview-detail-page .info-name {
  display: flex;
  flex-direction: column;
  line-height: 1.2;
  margin: 0;
}
.interview-detail-page .info-name .ja {
  font-size: 2.8rem;
}
.interview-detail-page .info-name .en {
  font-size: 1.7rem;
}
@media screen and (max-width: 768px) {
  .interview-detail-page .info-name {
    margin-right: 0;
    margin-bottom: 1rem;
  }
  .interview-detail-page .info-name .ja {
    font-size: 2.8rem;
  }
  .interview-detail-page .info-name .en {
    font-size: 1.6rem;
  }
}
.interview-detail-page .info-meta {
  margin: 0.5em 0 0 0;
  font-weight: bold;
}
.interview-detail-page .info-division {
  font-size: 2.3rem;
  margin: 0;
}
.interview-detail-page .info-division small {
  font-size: 0.66em;
  margin-left: 1em;
}
@media screen and (max-width: 768px) {
  .interview-detail-page .info-division {
    font-size: 1.8rem;
  }
}
.interview-detail-page .info-year {
  margin: 0;
  font-size: 1.5rem;
}
.interview-detail-page .info-profile {
  background: #fff;
  border: 2px solid #1a1a1a;
  padding: 30px;
  position: relative;
}
.interview-detail-page .info-profile::before {
  content: "";
  display: block;
  width: 14px;
  height: 14px;
  background: #fff;
  border-width: 2px 0 0 2px;
  border-color: #1a1a1a transparent transparent #1a1a1a;
  border-style: solid;
  box-sizing: border-box;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  left: 35px;
  top: -8px;
  pointer-events: none;
}
.interview-detail-page .info-profile p:last-child {
  margin-bottom: 0;
}
@media screen and (max-width: 768px) {
  .interview-detail-page .info-profile {
    padding: 1.5rem;
  }
}
.interview-detail-page .info-profile-label {
  margin: 0 0 20px;
}
@media screen and (max-width: 768px) {
  .interview-detail-page .info-profile-label {
    margin-bottom: 1rem;
  }
}
.interview-detail-page .info-relay-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
}
.interview-detail-page .info-relay-row + .info-relay-row {
  margin-top: 4rem;
}
@media screen and (max-width: 768px) {
  .interview-detail-page .info-relay-row {
    display: block;
  }
}
.interview-detail-page .info-relay-col {
  width: 500px;
}
.interview-detail-page .info-relay-col:nth-child(odd)::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 20px;
  margin: 0 auto;
  width: 44px;
  height: 44px;
  background: url(../../../img/interview/detail/relay-cross.svg) no-repeat center center/contain;
}
.interview-detail-page .info-relay-col:nth-child(odd) .info-relay-meta {
  margin-right: 20px;
}
.interview-detail-page .info-relay-col:nth-child(even) .info-relay-meta {
  margin-left: 20px;
}
@media screen and (max-width: 768px) {
  .interview-detail-page .info-relay-col {
    width: auto;
  }
  .interview-detail-page .info-relay-col:nth-child(odd) {
    position: relative;
    padding-bottom: 6rem;
    margin-bottom: 1.6rem;
  }
  .interview-detail-page .info-relay-col:nth-child(odd)::after {
    width: 4.4rem;
    height: 4.4rem;
    top: auto;
    bottom: 0;
  }
  .interview-detail-page .info-relay-col:nth-child(odd) .info-relay-meta {
    margin-right: 0;
  }
  .interview-detail-page .info-relay-col:nth-child(even) .info-relay-meta {
    margin-left: 0;
  }
}
.interview-detail-page .info-relay-meta {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 0;
  min-height: 120px;
}
@media screen and (max-width: 768px) {
  .interview-detail-page .info-relay-meta {
    min-height: 0;
    margin-bottom: 1.5rem;
  }
}
.interview-detail-page .info-relay-icon {
  margin: 0 15px 0 0;
  flex-shrink: 0;
}
.interview-detail-page .info-relay-icon > figure {
  display: inline-block;
  margin: 0;
  overflow: hidden;
  background: #fff;
  padding: 2px;
  border-radius: 50%;
  border: 2px solid #1a1a1a;
  width: 90px;
  height: 90px;
  box-sizing: border-box;
}
.interview-detail-page .info-relay-icon > figure > img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 768px) {
  .interview-detail-page .info-relay-icon {
    margin-right: 1rem;
  }
  .interview-detail-page .info-relay-icon > figure {
    padding: 1px;
    border-width: 1px;
    width: 7rem;
    height: 7rem;
  }
}
.interview-detail-page .info-relay-profile {
  margin: 10px 0 0;
}
@media screen and (max-width: 768px) {
  .interview-detail-page .info-relay-profile {
    margin-top: 1rem;
  }
}
.interview-detail-page .info-relay-division {
  margin: 0 0 5px;
  font-size: 2.6rem;
  line-height: 1.2;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .interview-detail-page .info-relay-division {
    font-size: 2.2rem;
  }
}
.interview-detail-page .info-relay-name {
  margin: 0;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  font-weight: bold;
}
.interview-detail-page .info-relay-name .ja {
  font-size: 2rem;
}
.interview-detail-page .info-relay-name .en {
  margin-left: 1em;
  font-size: 1.2rem;
}
@media screen and (max-width: 768px) {
  .interview-detail-page .info-relay-name .ja {
    font-size: 1.8rem;
  }
  .interview-detail-page .info-relay-name .en {
    font-size: 1rem;
  }
}
.interview-detail-page .interview-section {
  margin-bottom: 70px;
}
@media screen and (max-width: 768px) {
  .interview-detail-page .interview-section {
    margin-bottom: 5rem;
  }
}
.interview-detail-page .interview-inner-section {
  margin-bottom: 70px;
}
@media screen and (max-width: 768px) {
  .interview-detail-page .interview-inner-section {
    margin-bottom: 5rem;
  }
}
.interview-detail-page .interview-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.interview-detail-page .interview-row.is-reverse {
  flex-direction: row-reverse;
}
@media screen and (max-width: 768px) {
  .interview-detail-page .interview-row {
    display: block;
  }
}
.interview-detail-page .interview-row-photo {
  margin: 0 0 1em;
  flex-shrink: 0;
}
.interview-detail-page .interview-row-photo img {
  width: 100%;
}
.interview-detail-page .interview-row > .interview-row-photo {
  width: calc(100% - 580px);
}
@media screen and (max-width: 768px) {
  .interview-detail-page .interview-row > .interview-row-photo {
    width: auto;
  }
}
.interview-detail-page .interview-row-text {
  width: 540px;
  flex-shrink: 0;
  margin-left: 40px;
}
@media screen and (max-width: 768px) {
  .interview-detail-page .interview-row-text {
    width: auto;
    margin-left: 0;
  }
}
.interview-detail-page .interview-row-talk dt {
  font-weight: bold;
  width: 3em;
}
.interview-detail-page .interview-row-talk dt ~ dt {
  margin-top: 1.5em;
}
.interview-detail-page .interview-row-talk dd {
  margin-top: -1.6em;
  margin-left: 4em;
}
.interview-detail-page .interview-row.is-reverse .interview-row-text {
  margin-left: 0;
  margin-right: 40px;
}
@media screen and (max-width: 768px) {
  .interview-detail-page .interview-row.is-reverse .interview-row-text {
    margin-right: 0;
  }
}
.interview-detail-page .schedule {
  line-height: 1.4;
  border: 2px solid #1a1a1a;
}
.interview-detail-page .schedule-row {
  display: flex;
}
.interview-detail-page .schedule-row + .schedule-row {
  border-top: 2px solid #1a1a1a;
}
@media screen and (max-width: 768px) {
  .interview-detail-page .schedule-row {
    display: block;
  }
}
.interview-detail-page .schedule-time {
  width: 90px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px 0;
  background: #4C89DB;
  box-sizing: border-box;
  color: #fff;
  font-weight: bold;
  font-size: 2rem;
}
.interview-detail-page .schedule-time small {
  font-size: 0.75em;
}
@media screen and (max-width: 768px) {
  .interview-detail-page .schedule-time {
    width: auto;
    padding: 1rem 0;
  }
}
.interview-detail-page .schedule-label {
  width: 240px;
  font-weight: bold;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: #EFEFEF;
  padding: 10px 30px;
  box-sizing: border-box;
  border-left: 2px solid #1a1a1a;
  border-right: 2px solid #1a1a1a;
  position: relative;
}
.interview-detail-page .schedule-label::before, .interview-detail-page .schedule-label::after {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  border-style: solid;
  border-width: 2px 2px 0 0;
  border-color: #1a1a1a #1a1a1a transparent transparent;
}
.interview-detail-page .schedule-label::before {
  left: -8px;
  background: #4C89DB;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.interview-detail-page .schedule-label::after {
  right: -8px;
  background: #fff;
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}
@media screen and (max-width: 768px) {
  .interview-detail-page .schedule-label {
    width: auto;
    padding: 2rem 0;
    justify-content: center;
    border: none;
    border-top: 2px solid #1a1a1a;
    border-bottom: 2px solid #1a1a1a;
  }
  .interview-detail-page .schedule-label::before, .interview-detail-page .schedule-label::after {
    width: 1.2rem;
    height: 1.2rem;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .interview-detail-page .schedule-label::before {
    top: -0.8rem;
    bottom: auto;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  .interview-detail-page .schedule-label::after {
    top: auto;
    bottom: -0.8rem;
    -webkit-transform: rotate(315deg);
            transform: rotate(315deg);
  }
}
.interview-detail-page .schedule-content {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: #fff;
  padding: 10px 20px;
  box-sizing: border-box;
  font-size: 1.5rem;
}
@media screen and (max-width: 768px) {
  .interview-detail-page .schedule-content {
    padding: 2rem;
  }
}
.interview-detail-page .message-icon {
  margin: 0;
  text-align: center;
}
.interview-detail-page .message-icon > figure {
  display: inline-block;
  margin: 0;
  overflow: hidden;
  background: #fff;
  padding: 2px;
  border-radius: 50%;
  border: 2px solid #1a1a1a;
  width: 128px;
  height: 128px;
  box-sizing: border-box;
}
.interview-detail-page .message-icon > figure > img {
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.interview-detail-page .message-body {
  background: #fff;
  border: 2px solid #1a1a1a;
  padding: 30px;
  position: relative;
  margin-top: -25px;
}
.interview-detail-page .message-body::before {
  content: "";
  display: block;
  width: 14px;
  height: 14px;
  background: #fff;
  border-width: 2px 0 0 2px;
  border-color: #1a1a1a transparent transparent #1a1a1a;
  border-style: solid;
  box-sizing: border-box;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: -8px;
  pointer-events: none;
}
.interview-detail-page .message-body p:last-child {
  margin-bottom: 0;
}
@media screen and (max-width: 768px) {
  .interview-detail-page .message-body {
    padding: 1.5rem;
  }
}
.interview-detail-page .message-label {
  margin: 0 0 20px;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .interview-detail-page .message-label {
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 768px) {
  .interview-detail-page {
    padding-bottom: 20rem;
  }
}
/*# sourceMappingURL=detail.css.map */