@-webkit-keyframes textLinear {
  0% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(0);
  } 
}

@keyframes textLinear {
  0% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(0);
  } 
}