.u-fade-in {
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 1s, transform 1s;
    will-change: opacity, transform;

    &.is-inview {
        opacity: 1;
        transform: translateY(0);
    }
}