// .u-font-gothic-en {
.u-font-rajdhani {
    // stylelint-disable-next-line
    font-family: 'Rajdhani', sans-serif !important;
}
.u-font-josefin-sans {
    // stylelint-disable-next-line
    font-family: 'Josefin Sans', sans-serif !important;
}
.u-font-montserrat {
    // stylelint-disable-next-line
    font-family: 'Montserrat', sans-serif !important;
}