/*start news*/
.big-line {
  position: relative;
  font-size: 60px;
  font-family: "DIN2014";
  color: #000;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  z-index: 2; }
  .big-line .jp {
    font-size: 18px;
    font-family: "YuGothic-Bold";
    color: #000;
    display: block;
    letter-spacing: 0; }
  .big-line:before {
    position: absolute;
    content: "";
    width: 4px;
    height: 95px;
    background: #DC000C;
    top: 0;
    left: 0; }

.news {
  position: relative;
  margin-top: 100px; }
  .news .big-line {
    padding-top: 100px;
    padding-left: 45px;
    margin-bottom: 120px; }

.list-news {
  margin-bottom: 100px; }
  .list-news .big-img ul li:nth-child(2) {
    width: auto; }
  .list-news .list-icon-people {
    display: flex;
    justify-content: flex-end;
    margin-top: -150px;
    margin-bottom: 30px;
    position: relative;
    z-index: 1; }
    .list-news .list-icon-people li:nth-child(1) {
      margin-right: 165px; }
    .list-news .list-icon-people li:nth-child(2) {
      margin-right: 15px; }
  .list-news .row > .col-md-8 > ul {
    display: flex;
    border-bottom: 1px solid #D0D0D0;
    padding: 10px 20px;
    margin: 0 -15px;
    margin-bottom: 0;
    align-items: center;
    padding-left: 0; }
    .list-news .row > .col-md-8 > ul:first-child {
      border-top: 1px solid #D0D0D0; }
    .list-news .row > .col-md-8 > ul > li {
      padding: 0 15px; }
    .list-news .row > .col-md-8 > ul .news-info {
      border: initial;
      padding-top: 0;
      margin-top: 15px; }
      .list-news .row > .col-md-8 > ul .news-info > ul {
        margin-bottom: 14px; }
      .list-news .row > .col-md-8 > ul .news-info a {
        font-family: "YuGothic-Bold";
        color: #585757;
        line-height: 1.8; }
  .list-news .row > .col-md-4 {
    padding-left: 30px; }
  .list-news .thumb-img {
    max-width: 155px;
    object-fit: cover; }
  .list-news .btn-cic, .list-news .btn-border-radius {
    margin-bottom: 20px; }

/*category*/
.category > h4 {
  font-size: 30px;
  font-weight: bold;
  font-family: "YuGothic-Bold";
  margin-bottom: 30px; }
.category .news-info-content {
  border-top: initial; }
  .category .news-info-content ul {
    padding-left: 0;
    margin-bottom: 30px; }
  .category .news-info-content .time {
    margin-right: 15px; }
  .category .news-info-content > img {
    margin-bottom: 60px; }
  .category .news-info-content .desc {
    margin-bottom: 30px; }
  .category .news-info-content > .font-weight-bold {
    font-size: 16px; }
.category .font-weight-bold {
  color: #585757; }

.font-weight-bold {
  font-family: "YuGothic-Bold"; }

.hea-top {
  position: relative;
  overflow: hidden;
  padding-left: 60px; }
  .hea-top .bg-car {
    top: 200px;
    bottom: 0;
    right: -97px; }
    .hea-top .bg-car img {
      max-width: 728px; }
  .hea-top .small-car {
    display: flex;
    justify-content: flex-end;
    margin-top: 60px; }
    .hea-top .small-car img {
      max-width: 400px; }

#yt-wrap {
  width: 100%;
  height: 405px;
  margin-bottom: 80px; }

.category .news-info-content ul.style-disc {
  margin-bottom: 100px; }

.style-disc {
  border-top: 1px solid #D0D0D0;
  border-bottom: 1px solid #D0D0D0;
  padding: 20px;
  padding-left: 20px !important; }
  .style-disc.bg-black {
    margin-bottom: 40px; }
  .style-disc > li {
    color: #DC000C;
    list-style: disc;
    font-size: 20px;
    margin-left: 20px; }
    .style-disc > li > a {
      font-size: 14px;
      font-family: "YuGothic-Regular";
      color: #DC000C; }

.style-disc .desc {
  color: #585757; }

.bg-black {
  background: #E8E8E8;
  padding: 30px;
  border: initial !important; }

.list-link {
  margin-bottom: 35px; }

.list-option {
  display: flex;
  justify-content: space-between;
  padding-left: 0; }
  .list-option a {
    font-size: 12px;
    color: #DC000C;
    font-family: "YuGothic-Regular";
    padding-left: 55px;
    margin-top: -10px;
    display: block;
    transition: 0.4s all !important; }
    .list-option a:hover {
      transition: 0.4s all; }
      .list-option a:hover:before {
        border-color: #fff !important;
        background-color: #fff !important;
        transition: 0.4s all; }
  .list-option li {
    position: relative; }
    .list-option li:nth-child(1) a:before, .list-option li:nth-child(3) a:before {
      position: absolute;
      content: "";
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 1px solid #DC000C;
      top: -30px;
      bottom: 0;
      margin: auto;
      background: url("../images/news/left.svg") no-repeat center;
      transform: rotate(180deg);
      left: 0; }
    .list-option li:nth-child(2) a {
      font-size: 14px;
      font-family: "YuGothic-Bold";
      color: #585757;
      margin-top: 10px;
      display: block;
      padding-left: 0; }
      .list-option li:nth-child(2) a:before {
        position: absolute;
        content: "";
        width: 18px;
        height: 18px;
        background: url("../images/news/all-icon.svg") no-repeat center;
        top: -20px;
        left: 0;
        right: 0;
        margin: auto; }
      .list-option li:nth-child(2) a:hover {
        color: #DC000C; }
        .list-option li:nth-child(2) a:hover:before {
          background: url("../images/news/all-icon-red.svg") no-repeat center; }
    .list-option li:nth-child(3) a:before {
      right: 0;
      left: inherit;
      transform: rotate(0deg); }
    .list-option li:nth-child(3) {
      padding-right: 55px; }

.bg-boder-radius {
  border-radius: 40px 0px 0px 40px;
  background-color: #F5F5F5;
  padding-top: 80px;
  padding-bottom: 40px; }
  .bg-boder-radius .row {
    margin: 0 -7px; }
  .bg-boder-radius .col-md-8 {
    padding: 0 7px; }
  .bg-boder-radius .big-img ul li:nth-child(1) {
    margin-top: 0; }
  .bg-boder-radius .big-img ul li:nth-child(3) {
    margin-top: 0; }
  .bg-boder-radius .big-img ul {
    bottom: 20px; }
  .bg-boder-radius hr {
    background: #D0D0D0;
    margin-top: -20px; }

/*pagination*/
.pag-but {
  margin-top: 60px; }
  .pag-but p {
    color: #585757;
    text-align: center;
    margin-bottom: 10px;
    font-size: 12px; }
  .pag-but .pagination {
    justify-content: center;
    margin-bottom: 80px; }
    .pag-but .pagination li {
      width: 30px;
      height: 30px;
      margin: 0 2px; }
  .pag-but .page-item.disabled .page-link {
    background: initial;
    border: 1px solid #D0D0D0;
    border-radius: 3px; }
  .pag-but .page-item.active .page-link {
    background-color: #DC000C;
    border-color: #DC000C; }
  .pag-but .page-link {
    border: 1px solid #D0D0D0;
    border-radius: 3px;
    background: #fff;
    color: #585757;
    font-family: "DNI2014-Regular";
    font-size: 12px;
    padding: 0.5rem; }
    .pag-but .page-link:hover {
      color: #fff;
      background: #DC000C; }
  .pag-but .pagination li img {
    max-width: 8px;
    margin-top: -4px; }
  .pag-but .page-item:last-child .page-link {
    background: initial; }

/*nav - small*/
.nav-small {
  display: flex;
  font-size: 12px;
  line-height: 0;
  justify-content: center;
  flex-wrap: wrap; }
  .nav-small li {
    padding: 0 9px;
    font-size: 12px;
    font-family: "YuGothic-Regular";
    position: relative;
    padding: 0 9px; }
    .nav-small li:last-child {
      color: #585757; }
      .nav-small li:last-child:before {
        background: inherit; }
      .nav-small li:last-child:before {
        position: absolute;
        content: '';
        width: 4px;
        height: 5px;
        background: url("../images/news/small-nav.svg") no-repeat;
        left: 0;
        margin: auto;
        top: -1px;
        bottom: 0; }
    .nav-small li a {
      color: #DC000C;
      text-decoration: underline; }

.cate-right {
  background: #fff;
  border-radius: 4px;
  padding: 30px; }
  .cate-right h3 {
    font-family: "YuGothic-Bold";
    color: #585757;
    font-size: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #D0D0D0;
    margin-bottom: 10px; }
  .cate-right ul {
    margin-bottom: 40px;
    padding-left: 35px; }
    .cate-right ul li {
      list-style: disc;
      color: #DC000C;
      font-size: 20px; }
      .cate-right ul li a {
        font-size: 14px;
        color: #585757;
        font-family: "YuGothic-Bold"; }

/*select - option*/
.newsSelectArea {
  margin-top: 20px;
  display: flex;
  justify-content: center; }
  .newsSelectArea .select-area {
    border: 1px solid #D0D0D0;
    border-radius: 3px;
    position: relative;
    width: 230px; }
    .newsSelectArea .select-area:before {
      position: absolute;
      content: '';
      width: 10px;
      height: 10px;
      background: url(../images/news/bottom.svg) no-repeat;
      top: 0;
      bottom: 0;
      margin: auto;
      right: 19px;
      display: flex;
      align-items: center; }
    .newsSelectArea .select-area select {
      box-sizing: border-box;
      width: 100%;
      padding-right: 1em;
      cursor: pointer;
      text-indent: 0.01px;
      text-overflow: ellipsis;
      border: none;
      height: 50px;
      outline: none;
      background: transparent;
      background-image: none;
      box-shadow: none;
      -webkit-appearance: none;
      appearance: none;
      padding: 4px 36px 4px 10px;
      position: relative;
      z-index: 2;
      font-size: 14px;
      color: #B9BDC4; }

/*ipad*/
@media (min-width: 768px) and (max-width: 1024px) {
  .hea-top .bg-car img {
    max-width: 600px; }

  .hea-top .bg-car {
    top: 200px; }

  .big-line:before {
    height: 50px;
    top: 44px; }

  .hea-top {
    padding-left: 20px; }

  .news {
    margin-top: 55px; } }
@media (max-width: 767px) {
  .news {
    margin-top: 0; }

  .list-news .row > .col-md-4 {
    padding-left: 15px; }

  .list-news .list-icon-people li:nth-child(1) {
    margin-right: 100px; }

  .list-news .row > .col-md-8 > ul {
    padding-right: 0;
    display: block; }

  .list-news .thumb-img {
    max-width: 80%;
    margin: auto;
    margin-bottom: 30px; }

  .list-news .news-info {
    margin-bottom: 15px; }

  .news .big-line {
    padding-left: 30px; }

  .big-line {
    font-size: 40px; }

  .big-line:before {
    height: 40px;
    bottom: 0;
    top: 70px; }

  .hea-top {
    padding-left: 0; }

  .bg-boder-radius {
    padding-bottom: 40px;
    border-radius: 40px 0 0 40px; }

  .hea-top .bg-car img {
    max-width: 65%; }

  .hea-top .bg-car {
    overflow: hidden;
    top: 200px; }

  .hea-top .bg-car img {
    margin-left: 100px; }

  .bg-boder-radius .big-img ul {
    max-height: inherit; }

  .list-option li:nth-child(3) a {
    padding: 0; }

  .category .news-info-content > .style-disc {
    padding: 13px; }

  .category .line-top, .category .news-info-content h3 {
    margin-bottom: 30px; }

  .category .news-info-content > .style-disc {
    margin-bottom: 50px; }

  .category > h4 {
    font-size: 24px; }

  #yt-wrap {
    margin-bottom: 60px; } }
@media (max-width: 360px) {
  .hea-top .bg-car {
    top: 215px; } }
@media (max-width: 320px) {
  .hea-top .bg-car {
    top: 223px; }

  .list-news .list-icon-people {
    margin-top: -136px; } }
@media (min-width: 1024px) and (max-width: 1366px) {
  .hea-top .bg-car {
    top: 200px; } }
.custormer-input h2 {
  margin-bottom: 60px;
  font-family: "YuGothic-Bold";
  font-size: 28px;
  position: relative; }
  .custormer-input h2:before, .custormer-input h2:after {
    position: absolute;
    content: "";
    width: 40px;
    height: 4px;
    background: #585757;
    left: 0;
    top: -24px; }
  .custormer-input h2:after {
    width: 20px;
    background: #DC000C;
    left: 0;
    z-index: 1; }
.custormer-input h3 {
  font-size: 24px;
  font-family: "YuGothic-Bold";
  color: #000;
  margin-bottom: 50px; }
.custormer-input h4 {
  font-size: 20px;
  font-family: "YuGothic-Bold";
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 40px;
  position: relative; }
  .custormer-input h4:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background: #585757;
    bottom: 0px;
    left: 0; }
  .custormer-input h4:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    bottom: 0px;
    left: 0;
    width: 30px;
    background: #DC000C; }
.custormer-input p {
  margin-bottom: 30px;
  line-height: 1.8; }
.custormer-input img {
  margin-bottom: 60px; }
.custormer-input b {
  color: #585757; }

@media (max-width: 768px) {
  .custormer-input p {
    font-size: 4.375vw; }

  .custormer-input h2 {
    margin-bottom: 40px; }

  .link-cic, .link-brank, .link-pdf, .link-excel {
    font-size: 3.375vw; } }

/*# sourceMappingURL=news.css.map */
