.sticker-content{
	h5{
		color:$red;
		font-size: 32px;
		font-weight: bold;
		text-align: center;
		margin-bottom: 55px;
	}
}
.sti-sl-op{
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 40px;
	select{
		width: 275px;
		height: 60px;
		border: 1px solid #DC0916;
		border-radius: 4px;
		margin-right: 20px;
		font-size: 16px;
		font-weight: bold;
		color: $red;
		padding-left: 18px;
		position: relative;
		display: block;
   		outline-color: $red;
   		appearance:none;
	}
	button{
		position: relative;
		display: block;
		width: 144px;
		height: 60px;
		background: $red;
		color: #fff;
		font-weight: bold;
		outline: auto;
		border-radius: 4px;
		cursor: pointer;
	}
	.sl-op{
		position: relative;
		margin-bottom: 10px;
		&:before{
			position: absolute;
			content: "";
			width: 7px;
			height: 8px;
			background: url('../images/sticker/right.svg') no-repeat center;
			right: 42px;
			top: 0;
		    bottom: 0;
		    margin: auto;
		    z-index: 1;
		    transition: .3s all;
		}
		&.active{
			&:before{
				transform: rotate(90deg);
			}
		}
	}
}
.sticker-content{
	.login-if{
		a{
			color: $red;
			text-decoration: underline;
		}
	}
}
.sticker-box{
	&.recruit-top{
		padding-top: 0;
		margin-bottom: -40px;
		img{
			&:hover{
				transform: scale(1.02);
			}
		}
	}
}
.list-news .sticker-box .row{
	margin: 0 -20px;
}
.list-news .sticker-box .row > .col-md-4{
	padding: 0 20px;
	overflow: hidden;
}
@media(max-width: 768px){
	.sticker-content h5{
		font-size: 5.0vw;
	}
	.sti-sl-op{
		display: block;
	}
	.sti-sl-op select{
		width: 100%;
	}
	.sti-sl-op .sl-op{
		margin-bottom: 20px;
	}
	.sti-sl-op button {
	    height: 60px;
	    font-size: 16px;
	    margin: auto;
	}
	.sti-sl-op .sl-op:before{
		right: 20px;
	}
	.list-news .sticker-box .row{
		margin: 0 -10px;
	}
	.list-news .sticker-box .row > .col-md-4{
		padding: 0 5px;
	}
}
/*slider*/
.sticker-detail{
	margin-bottom: 100px;
	> .row{
		margin: 0 -25px;
		> .col-md-6{
			padding: 0 25px;
		}
	}
	.list-views{
		margin-top: 40px;
   		position: relative;
   		padding-bottom: 20px;
	    border-bottom: 1px solid #CDCDCD;
	    margin-bottom: 60px;
   		.carousel-indicators{
   			position: relative;
   			margin: 0 -10px;
   			z-index: 1;
   		 }
   		 .col-md-6.item{
   		 	padding: 0 10px;
   		 }
	}
	.login-if{
		a{
			color: $red;
			text-decoration: underline;
		}
	}
}
#carousel-sticker{
	.carousel-control-next-icon, .carousel-control-prev-icon{
		background: inherit;
		display: block;
	    margin: 30px auto;
	    width: 11px;
	    height: 11px;
	    border-top: 2px solid #fff;
	    border-left: 2px solid #fff;
	    transform: rotate(135deg);
	}
	.carousel-control-prev-icon{
		transform: rotate(-45deg);
	}
	.carousel-control-next:focus, .carousel-control-next:hover, .carousel-control-prev:focus, .carousel-control-prev:hover{
		opacity: 1;
	}
	.carousel-indicators{
		position: static;
	}
}
.sticker-detail-info{
	.news-red{
		text-transform: uppercase;
		display: inline-block;
		font-size: 12px;
		margin-bottom: 8px;
	}
	h2{
		font-size: 20px;
		font-weight: bold;
		margin-bottom: 30px;
	}
	p{
		margin-bottom: 40px;
	}
	.btn-gradien{
		margin-bottom: 50px;
	}
}
@media(max-width: 767px){
	.sticker-detail {
		margin-bottom: 80px;
		.list-views{ 
			margin-bottom: 30px;
		}
		.login-if{
			margin-bottom: 40px;
		}
		p{
			font-size: 14px;
		}
		.btn-gradien{
			margin:auto;
			margin-bottom: 40px;
		}
	}
}