@charset "UTF-8";

/* -------------------
  HEADER
--------------------*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 95px;
  padding: 0 0 0 30px;
  @include mq() {
  	position: fixed;
  	top: 0;
  	left: 0;
  	width: 100%;
  	height: 60px;
    padding: 0 15px;
    background-color: #fff;
    border-bottom: solid 1px #EFEFEF;
    z-index: 9999;
  }
  &-logo {
  	@include mq() {
	  	width: 168px;
	  }
  }
}


/* -------------------
  HEADER
--------------------*/
.menu {
  height: 100%;
  text-align: right;
  font-size: fs(14);
  line-height: fs(18);
  font-family: 'EB Garamond', serif;
  font-weight: 500;
  @include mq() {
	  position: fixed; 
	  top: 60px;
	  left: 0;
	  width: 100%;
	  height: 100%;
	  font-size: fs(12);
	  line-height: fs(20);
	  background-color: #fff;
	  z-index: 9999;
	  transform: translateX(100%);
	  transition: all .3s;
	  &.active {
	  	transform: translateX(0);
	  }
  }

  &-inner {
    height: 100%;
    display: flex;
    align-items: center;
    @include mq() {
	  	display: block;
	  }
  }

  &-list {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 50px;
    border-left: solid 1px #EFEFEF;
    border-right: solid 1px #EFEFEF;
    @include mq() {
    	display: block;
    	padding: 0;
    	height: auto;
    }
  }

  &-item {
    margin-right: 30px;
    text-align: left;
    @include mq() {
    	margin-right: 0;
    	border-bottom: solid 1px #EFEFEF;
    }

    &:last-child {
      margin-right: 0;
    }

    &.is-parent {
      a {
      	span {
		      position: relative;
	      	display: inline-block;
		      padding-right: 15px;
		      &:after {
		        position: absolute;
		        right: 0;
		        top: 4px;
		        display: block;
		        width: 6px;
		        height: 6px;
		        border: solid black;
		        border-width: 0 1px 1px 0;
		        display: inline-block;
		        padding: 2px;
		        transform: rotate(45deg);
		        -webkit-transform: rotate(45deg);
		        transition: all .3s;
		        content: "";
		        @include mq() {
		        	top: 6px;
				    	width: 4px;
			        height: 4px;
				    }
		      }
      	}
	      &:hover {
	      	span {
		        &:after {
		        	border-color: #BFB391;
		        }
	      	}
	      }
	      
      }

      &.active {
        &:after {
          top: 6px;
          transform: rotate(-135deg);
          -webkit-transform: rotate(-135deg);
        }
      }
    }

    &.contact {
      padding: 0 30px;
      color: #40210F;
      @include mq() {
      	margin: 30px 20px 0;
      	padding: 0;
	      border-bottom: none;
	      text-align: center;
	      background-color: #40210F;
	      color: #fff;
	    }
    }

    a {
    	display: block;
      transition: all .3s;
      @include mq() {
	    	padding: 15px 20px;
	    }
      &:hover {
        color: #BFB391;
        &:after {
        	border-color: #BFB391;
        }
      }
    }
  }
}

// Button Open Menu SP
.sp-navBtn {
  position: fixed;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  border-left: solid 1px #EFEFEF;
  z-index: 9999;
  &.active {
  	span {
  		&:first-child {
  			top: calc(50% - 6px);
	      transform: rotate(-30deg) translateX(-50%);
		    -webkit-transform: rotate(-30deg) translateX(-50%);
	    }
	    &:nth-child(2) {
	    	top: calc(50% + 4px);
	      transform: rotate(30deg) translateX(-50%);
		    -webkit-transform: rotate(30deg) translateX(-50%);
	    }
  	}
  }
  span {
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    width: 20px;
    height: 2px;
    background-color: #776430;
    transition: all .3s;

    &:first-child {
      top: calc(50% - 4px);
    }

    &:nth-child(2) {
      top: calc(50% + 2px);
    }
  }
}